.modal {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
}

.modal__content {
  background-color: #fff;
  padding: 40px;
  position: relative;
  min-width: 300px;
  display: flex;
  width: 50%;
  height: 60vh;
}

.modal__element {
  width: 50%;
  height: 100%;
  padding: 10px;
}

.modal__element .modal__element__itens {
  width: 100%;
  height: 100%;
  position: relative;
}
.modal__element .modal__element__itens .nameDog {
  font-size: 20px;
  color: #000;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 16rem;
}

.modal__element .modal__element__itens img {
  width: 100%;
  height: 100%;
}

.modal__element form {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.modal__content .modal__element input {
  width: 100%;
  margin: 15px 0 15px 0;
  border-radius: 4px;
  height: 25px;
  border: 1px solid #ccc;
}

.modal__content .modal__element select {
  width: 100%;
  margin: 15px 0 15px 0;
  border-radius: 4px;
  height: 25px;
  border: 1px solid #ccc;
}

.modal__content .modal__element button {
  height: 30px;
  border-radius: 4px;
  border: none;
  color: #555;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  background-color: #e0e0e0;
  width: 100%;
}

.modal__content .modal__element label {
  color: #555;
  font-weight: bold;
}

.close {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: none;
  top: -12px;
  right: -13px;
  position: absolute;
  cursor: pointer;
  color: #555;
  background-color: #e0e0e0;
}

@media (max-width: 980px) {
  .modal__content {
    flex-direction: column;
    padding: 10px;
    height: 80%;
  }
  .modal__element {
    width: 100%;
    height: 40vh;
  }

  .modal__content .modal__element input {
    margin: 10px 0 10px 0;
  }

  .modal__content .modal__element select {
    margin: 10px 0 10px 0;
  }

  .modal__content .modal__element button {
    margin: 10px 0 10px 0;
  }

  .modal__element .modal__element__itens .nameDog {
    top: 11rem;
  }
}

@media (max-width: 590px) {
  .modal__content {
    height: 78%;
  }
  .modal__element {
    height: 38vh;
  }
  .modal__element .modal__element__itens .nameDog {
    top: 13rem;
  }
}

@media (max-width: 414px) {
  .modal__element .modal__element__itens .nameDog {
    top: 14rem;
  }
}

@media (max-width: 375px) {
  .modal__content {
    height: 80%;
  }
  .modal__element {
    height: 40vh;
  }
}

@media (max-width: 320px) {
  .modal__content {
    height: 90%;
  }
  .modal__element {
    height: 45vh;
  }
  .modal__element .modal__element__itens .nameDog {
    top: 13rem;
  }
}
