.dogs {
  padding: 40px;
}

.dogs__infos {
  position: relative;
  min-width: 200px;
  max-width: 267px;
}

.dogs__name {
  margin: 0 10px 0 10px;
  position: absolute;
  top: 90%;
  width: 87%;
  text-align: center;
}
