* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  color: #555;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

html,
body,
#root {
  min-height: 100%;
}

button {
  cursor: pointer;
}
